/* Write your code here. */
.nav-div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.nav-img {
  width: 60px;
  height: 30px;
}

.nav-div-main {
  background-color: #9796f0;
  height: 64px;
  padding: 10px;
}

.nav-div1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  padding-bottom: 20px;
}
